<div>
    <h3 class="h3header">    Headerul p***i</h3>
    <p style="padding-bottom:0">         Aici o sa fie headerul ala prost si mare de zici ca suntem in 2002</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>